body {
  color: #e5d4ed;
  background-color: #1d1128;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
}

.container {
  margin: auto;
  height: 18.75rem;
  width: 25rem;
  border: 1px solid #e5d4ed;
  /* margin-top: 1rem; */
  padding: 2rem;
  border-radius: 0.5rem;
}

.search {
  background-color: #e5d4ed;
  height: 3rem;
  width: 18rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
}

.search-btn {
  background-color: #e5d4ed;
  height: 3.125rem;
  width: 3.125rem;
  /* margin: 1rem; */
  margin-left: 2rem;
  /* margin: 1rem 1rem 1rem 2rem; */
  border-radius: 0.5rem;
  border: none;
}

.search-btn i {
  color: black;
  width: 2rem;
  font-weight: 900;
}

.search-btn:hover {
  background-color: #ceacec;
}

.meaning {
  margin-top: 1rem;
  padding: 1rem;
  width: 85%;
  height: 45%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.meaning::-webkit-scrollbar {
  display: none; /* Webkit browsers (like Chrome/Safari) */
}

@media (max-width: 640px) {
  .container {
    width: 60%;
  }
  .search {
    width: 100%;
    text-align: center;
  }
  .search-btn {
    margin: 1rem auto;
    width: 100%;
    height: 3rem;
  }
  .meaning {
    width: 80%;
    border: 1px solid #ceacec;
    border-radius: 1rem;
    overflow-y: auto; /* Enable vertical scrolling */
  }
}
